narwhals>=1.15.1
hydra-core
omegaconf
wandb
imageio
plotly
einops
pandas
moviepy
av
tensordict==0.8.3
# TorchRL 0.5 requires PyTorch 2.4.0, and TorchRL 0.6 requires PyTorch 2.5.0.
torchrl==0.6.0  # omni drone's version requirement is 0.3.1 which is for torch 2.2.x,  and the newest version is 0.8.1
